# Default ignored files
/../../GravityFlip /.idea/shelf/
/../../GravityFlip /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../GravityFlip /.idea/httpRequests/
# Datasource local storage ignored files
/../../GravityFlip /.idea/dataSources/
/../../GravityFlip /.idea/dataSources.local.xml
