# Default ignored files
/../../ReverseArray /.idea/shelf/
/../../ReverseArray /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ReverseArray /.idea/httpRequests/
# Datasource local storage ignored files
/../../ReverseArray /.idea/dataSources/
/../../ReverseArray /.idea/dataSources.local.xml
